body {
    font-family: Arial, sans-serif;
}

#chat-container {

    margin-left: 13px;
    width: 98%;
    height: 97vh;
   
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

#chat-output {
    height: 550px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
  
}
.user-message {
    text-align: right;
    color: #007bff;
}

.bot-message {
    text-align: left;
    color: #333;
}
.input-box
{
    width: 90%;
    margin-left: 4px;
    height: 35px;
}
.send-button{
    width: 100px;
    height: 40px;
    cursor: pointer;

    font-size: large;
    background-color: black;
    color: white;

    border-radius: 4px;
    
}
.send-button:hover
{
    background-color: white;
    color: black;
}

@media only screen and (max-width: 600px) {
    #chat-container
    {
     background-color: aqua;
     margin-left: -0.58px;
      
    }
    #chat-output 
    {
     background-color: brown;
     height: 664px;
    }
    .input-box
    {
    width: 67%;
    margin-left: 4px;
    height: 45px;
    }
    .send-button{
        height: 50px;
    }
  }