#containerstyle
{
   
    height: 653px;
}
#col1
{
    margin: auto;
   
    
   
}
.direction
{
    direction: ltr;
    margin-top: 100px;
   
}
.readmore
{
    background-color:  black;
    color: white;
    border-radius: 5px;
}
#col2
{
   
}

.doc
{
    width: 700px;
    height: 500px;

    
}
#icon
{
    text-align: center;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */

    color: white;
    padding-top: 3px;
    cursor: pointer;
}
.icon-box
{
    
    width: 100%;
    height: 30px;
    background-color: black;

}
@media only screen and (max-width: 900px) {
    #col1 {
      
      width: 100%;
    }
    #col2 {
       
        width: 100%;
      }
      .doc
     {
    width: 300px;
    height: 200px;
    margin-left: 40px;
    }
  }